/* line 1, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
html {
  box-sizing: border-box;
}

/* line 5, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 19, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
body {
  background: #ffffff url("../img/geometry2.png");
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

/* line 24, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 31, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 36, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.main-title {
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* line 36, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 36, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

@media screen and (min-width: 1021px) {
  /* line 36, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  /* line 54, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title--text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 54, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title--text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1021px) {
  /* line 54, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .main-title--text {
    font-size: 3rem;
  }
}

/*
 * Styles for the deck of cards
 */
/* line 73, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck {
  width: 36rem;
  height: 36rem;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3rem;
}

@media screen and (max-width: 767px) {
  /* line 73, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .deck {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 0 .1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 73, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .deck {
    width: 30rem;
    height: 30rem;
  }
}

/* line 105, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card {
  height: 7rem;
  width: 7rem;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: .8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media screen and (max-width: 767px) {
  /* line 105, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .deck .card {
    height: 4rem;
    width: 4rem;
    border-radius: 0.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* line 105, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .deck .card {
    height: 6rem;
    width: 6rem;
  }
}

/* line 134, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

/* line 140, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.show {
  font-size: 2rem;
}

/* line 144, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 2rem;
}

/*
 * Styles for the Score Panel
 */
/* line 154, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel {
  text-align: left;
  width: 30rem;
  margin-bottom: .1rem;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  /* line 154, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .score-panel {
    width: 10rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 154, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .score-panel {
    width: 20rem;
    font-size: 1.5rem;
  }
}

/* line 174, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.time-panel {
  margin-bottom: .1rem;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  /* line 174, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .time-panel {
    width: 10rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 174, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .time-panel {
    width: 20rem;
    font-size: 1.5rem;
  }
}

/* line 192, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 199, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

/* line 204, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* line 209, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.hidden {
  display: none;
}

/* line 213, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.win-screen {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  /* line 213, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .win-screen {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 213, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .win-screen {
    padding-top: 2rem;
  }
}

/* line 238, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.content {
  position: relative;
  background-color: #02b3e4;
  margin: auto;
  padding: 1.5rem;
  width: 50%;
  border: .1rem solid #d3d3d3;
}

@media screen and (max-width: 767px) {
  /* line 238, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
  .content {
    width: 90%;
  }
}

/* line 259, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.result {
  font-size: 1.5rem;
  text-align: center;
  color: #d3d3d3;
}

/* line 264, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.result-title {
  font-size: 2.5rem;
  text-align: center;
  color: #d3d3d3;
}

/* line 271, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.button-play {
  color: #d3d3d3;
  background-color: #f19f0a;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.3rem;
  border-radius: .4rem;
  border-color: #d3d3d3;
}

/* line 281, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.win-panel .stars li {
  list-style: none;
  display: inline-block;
}

/*# sourceMappingURL=../css/app.map */