/* line 1, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
html {
  box-sizing: border-box;
}

/* line 5, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 19, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
body {
  background: #ffffff url("../img/geometry2.png");
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

/* line 24, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 31, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
/* line 40, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

/* line 54, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/* line 68, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

/* line 74, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.show {
  font-size: 33px;
}

/* line 78, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */
/* line 88, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

/* line 94, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 101, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

/* line 106, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* line 111, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.hidden {
  display: none;
}

/* line 115, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.win-screen {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 128, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.content {
  position: relative;
  background-color: #02b3e4;
  margin: auto;
  padding: 1.5rem;
  width: 50%;
  border: .1rem solid #d3d3d3;
}

/* line 137, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.result {
  font-size: 1.5rem;
  text-align: center;
  color: #d3d3d3;
}

/* line 142, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.result-title {
  font-size: 2.5rem;
  text-align: center;
  color: #d3d3d3;
}

/* line 149, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.button-play {
  font-family: 'Righteous', cursive;
  color: #d3d3d3;
  background-color: #f19f0a;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-color: #d3d3d3;
}

/* line 160, /Users/karolrosinski/Documents/GOOGLE ND FE/fend-project-memory-game-master/scss/app.scss */
.win-panel .stars li {
  list-style: none;
  display: inline-block;
}

/*# sourceMappingURL=../css/app.map */